vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Feb 2012 01:13:10 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|yinyang8-HP\\yinyang8
vti_modifiedby:SR|yinyang8-HP\\yinyang8
vti_timecreated:TR|24 Feb 2012 01:13:10 -0000
vti_cacheddtm:TX|24 Feb 2012 01:13:10 -0000
vti_filesize:IR|908
vti_backlinkinfo:VX|real\\ estate/site_pro/css/style.css
vti_syncwith_johorcondoguide.com\:21:TX|24 Feb 2012 01:13:10 -0000
vti_syncofs_johorcondoguide.com\:21:TW|19 Sep 2012 05:21:00 -0000
